* {
  box-sizing: border-box;
}

html,
body {
  margin: 0px;
  padding: 0px;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  min-height: 1280px;
  color: #000000;
  font-size: 24px;
  margin: 0px;
}

p,
h1,
h2,
h3,
h4,
a {
  margin: 0;
  font-weight: 400;
  height: 100px;
}

a,
a:visited,
a:hover {
  color: teal;
  text-decoration: none;
  border-bottom: 2px solid currentColor;
}

nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: baseline;
  -ms-flex-align: baseline;
  align-items: baseline;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  background: #000000;
  padding: 1rem;
  padding-right: 5rem;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.nav__examples {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: baseline;
  -ms-flex-align: baseline;
  align-items: baseline;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-top: 1rem;
}

.nav__examples > * {
  margin-right: 0.5rem;
}

#intro {
  width: 100%;
  height: 1500px;
  margin: 0px;
  justify-content: center;
  text-align: center;
  scroll-behavior: smooth;
  background-image: url("../MVP_Image/MVP_Q001_S001V11plantsurfaceall.0001.png");
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
  display: flex;
}

.intro__hed {
  font-size: 50px;
  margin-top: 150px;
  height: 60px;
  font-family: Georgia, 'Times New Roman', Times, serif;
  justify-content: center;
  color: aliceblue;
}

.intro__dek {
  color: #dfdfdf;
  font-family: Georgia, 'Times New Roman', Times, serif;
  justify-content: center;
}

#intro {
  margin-bottom: 0px;
}

#outro {
  height: 1500px;
  justify-content: center;
  text-align: center;
  scroll-behavior: smooth;
  background-image: url("../MVP_Image/MVP_Q001_S001V11plantsurfaceall.0001.png");
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
  display: flex;
}

@media (min-width: 840px) {
  .nav__examples {
    margin-top: 0;
    margin-left: 2rem;
  }
}

.image {
  position: absolute;
  top: 50%;
  width: 200px;
  height: auto;
  transform: translateY(-50%);
  transition: all 3s ease;
  opacity: 0;
}

/* Initial positions */
.left-img {
  left: -300px;
}

.right-img {
  right: -300px;
}

/* Animate to center */
body.loaded .left-img {
  left: calc(50% - 220px); /* adjust to center */
  opacity: 1;
}

body.loaded .right-img {
  right: calc(50% - 220px);
  opacity: 1;
}

.row{
  margin: 5px;
}

.sticky-thing img {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
  opacity: 1;
  transition: opacity 0.5s ease-in-out;
}

.image-container {
  position: relative;
  width: 100%;
  height: 100%;
}

.fade-img {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: contain;
  top: 0;
  left: 0;
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
  z-index: 1;
}

.fade-img.show {
  opacity: 1;
  z-index: 2;
}